@model Microsoft.EntityFrameworkCore.Query.IIncludableQueryable<OrderHeader, Product>

@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Reference
            </th>
            <th>
                Total Paid
            </th>
            <th>
                Payment Method
            </th>
            <th>
                Shipping Method
            </th>
            <th>
                Shipping Agent
            </th>
            <th>Details</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Reference
                </td>
                <td>
                    @item.TotalPaid
                </td>
                <td>
                    @item.PaymentMethod
                </td>
                <td>
                    @item.ShippingMethod
                </td>
                <td>
                    @item.Shipping.GetFullname()
                </td>
                <td>
                    <details>
                        <summary>Details</summary>
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Unit price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var orderDetail in item.Details)
                                {
                                    <tr>
                                        <td>@orderDetail.Product.Title</td>
                                        <td>@orderDetail.Quantity</td>
                                        <td>@orderDetail.UnitPrice</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </details>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
